In [1]:
import requests
from bs4 import BeautifulSoup

import re
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = "https://www.planetfootball.com/quick-reads/premier-league-injury-table-22-23-liverpool-chelsea-arsenal-man-utd"
url_websites = requests.get(url)

In [3]:
url_html_code = BeautifulSoup(url_websites.content, "html.parser")

In [4]:
url_html_code_string = str(url_html_code)
url_html_code_string = url_html_code_string.replace("'","\'")

In [5]:
# url_html_code_string

In [6]:
p_tags = url_html_code.find_all('p')

In [7]:
data = []

In [8]:
for tag in p_tags:
    # Extract text from each <p> tag
    text = tag.get_text()

    # Use regular expressions to find matches for team names and counts
    matches = re.findall(r'(\d+)\.\s([A-Za-z\s]+)\sâ€“\s(\d+)', text)

    # If matches are found, add them to the data list
    for match in matches:
        rank, team, count = match
        data.append((rank, team.strip(), count))

In [9]:
for rank, team, count in data:
    print(f'Rank: {rank}, Team: {team}, Count: {count}')

Rank: 1, Team: Liverpool, Count: 162
Rank: 2, Team: Chelsea, Count: 124
Rank: 3, Team: Newcastle United, Count: 122
Rank: 4, Team: Nottingham Forest, Count: 120
Rank: 5, Team: Bournemouth, Count: 116
Rank: 6, Team: Wolves, Count: 108
Rank: 7, Team: Manchester United, Count: 106
Rank: 8, Team: Leeds United, Count: 104
Rank: 9, Team: Leicester City, Count: 103
Rank: 10, Team: Crystal Palace, Count: 97
Rank: 11, Team: Everton, Count: 97
Rank: 12, Team: Brentford, Count: 94
Rank: 13, Team: Southampton, Count: 85
Rank: 14, Team: Arsenal, Count: 79
Rank: 15, Team: Tottenham, Count: 78
Rank: 16, Team: Fulham, Count: 70
Rank: 17, Team: Aston Villa, Count: 63
Rank: 18, Team: West Ham United, Count: 63
Rank: 19, Team: Manchester City, Count: 49
Rank: 20, Team: Brighton, Count: 44

In [10]:

# Squadgoal_url_websites = requests.get(url)

In [11]:
def get_url_website(url):
    return requests.get(url)

def retrieve_html_code(url_website):
    return BeautifulSoup(url_website.content, "html.parser")

In [12]:
team_stats_url = {}

In [14]:
Squadgoal_url = get_url_website("https://fbref.com/en/comps/9/2022-2023/2022-2023-Premier-League-Stats")

team_stats_url['Manchester_City'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/b8fd03ef/2022-2023/Manchester-City-Stats"))
team_stats_url['Arsenel'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/18bb7c10/2022-2023/Arsenal-Stats"))
team_stats_url['Manchester_United']= retrieve_html_code(get_url_website("https://fbref.com/en/squads/19538871/2022-2023/Manchester-United-Stats"))
team_stats_url['Newcastle']= retrieve_html_code(get_url_website("https://fbref.com/en/squads/b2b47a98/2022-2023/Newcastle-United-Stats"))
team_stats_url['Liverpool']= retrieve_html_code(get_url_website("https://fbref.com/en/squads/822bd0ba/2022-2023/Liverpool-Stats"))
team_stats_url['Brighton']= retrieve_html_code(get_url_website("https://fbref.com/en/squads/d07537b9/2022-2023/Brighton-and-Hove-Albion-Stats"))
team_stats_url['Aston_Villa']= retrieve_html_code(get_url_website("https://fbref.com/en/squads/8602292d/2022-2023/Aston-Villa-Stats"))
team_stats_url['Nottingham_Forest']= retrieve_html_code(get_url_website("https://fbref.com/en/squads/e4a775cb/2022-2023/Nottingham-Forest-Stats"))
team_stats_url['Everton']= retrieve_html_code(get_url_website("https://fbref.com/en/squads/d3fd31cc/2022-2023/Everton-Stats"))
team_stats_url['Leicester_City']= retrieve_html_code(get_url_website("https://fbref.com/en/squads/a2d435b3/2022-2023/Leicester-City-Stats"))
team_stats_url['Leeds_United']= retrieve_html_code(get_url_website("https://fbref.com/en/squads/5bfb9659/2022-2023/Leeds-United-Stats"))
team_stats_url['Southampton']= retrieve_html_code(get_url_website("https://fbref.com/en/squads/33c895d4/2022-2023/Southampton-Stats"))

In [15]:
def get_stats_table(table_id, url):
    stats = url.find_all('table', attrs={"id":table_id})
    pl_stats = pd.read_html(str(stats))[0]
    pl_stats.columns = pl_stats.columns.droplevel(level=0)
    pl_stats = pl_stats.set_index("Squad")
    return pl_stats

In [16]:
Squadgoal_url = retrieve_html_code(Squadgoal_url)

In [17]:
def get_stats_table(table_id, url):
    stats = url.find_all('table', attrs={"id":table_id})
    pl_stats = pd.read_html(str(stats))[0]
    pl_stats.columns = pl_stats.columns.droplevel(level=0)
    pl_stats = pl_stats.set_index("Squad")
    return pl_stats

In [18]:
Squadgoal_stats = {}

Squadgoal_stats['squad_goal_and_shot_creation'] = get_stats_table("stats_squads_gca_for", Squadgoal_url)
Squadgoal_stats['squad_shooting'] = get_stats_table("stats_squads_shooting_for", Squadgoal_url)
Squadgoal_stats['squad_misc'] = get_stats_table("stats_squads_misc_for", Squadgoal_url)

# Squadgoal_stats['squad_manchester_goal_and_shot_creation'] = get_stats_table("stats_gca_9", Manchester_City_url)

In [19]:
def get_team_stats_table(website_html, table_id, index_col_name):
    stats = website_html.find_all('table', attrs={"id":table_id})
    pl_stats = pd.read_html(str(stats))[0]
    pl_stats.columns = pl_stats.columns.droplevel(level=0)
    pl_stats = pl_stats.set_index(index_col_name)
    return pl_stats

In [20]:
Squadgoal_stats['squad_goal_and_shot_creation']

,# Pl,90s,SCA,SCA90,PassLive,PassDead,TO,Sh,Fld,Def,GCA,GCA90,PassLive,PassDead,TO,Sh,Fld,Def
Squad,,,,,,,,,,,,,,,,,,
Arsenal,26,38.0,1045,27.50,776,78,57,73,43,18,150,3.95,121,6,5,13,3,2
Aston Villa,26,38.0,751,19.76,565,50,48,38,40,10,84,2.21,55,2,6,12,6,3
Bournemouth,31,38.0,616,16.21,445,45,52,43,24,7,64,1.68,44,5,4,8,2,1
Brentford,25,38.0,702,18.47,475,99,32,45,44,7,98,2.58,65,8,4,8,11,2
Brighton,29,38.0,1075,28.29,819,73,81,63,27,12,115,3.03,83,3,13,9,6,1
Chelsea,32,38.0,859,22.61,667,66,42,42,31,11,68,1.79,57,3,2,2,4,0
Crystal Palace,26,38.0,746,19.63,497,67,56,49,59,18,67,1.76,43,6,6,6,4,2
Everton,28,38.0,735,19.34,495,84,37,54,45,20,59,1.55,41,5,5,2,4,2
Fulham,29,38.0,751,19.76,528,78,29,54,47,15,90,2.37,56,9,5,11,7,2
Leeds United,29,38.0,783,20.61,535,99,32,54,48,15,69,1.82,43,7,4,9,3,3
Leicester City,28,38.0,744,19.58,540,52,50,50,38,14,87,2.29,59,2,8,8,7,3
Liverpool,28,38.0,1046,27.53,778,85,55,75,33,20,129,3.39,97,9,7,8,7,1
Manchester City,24,38.0,1099,28.92,826,81,53,76,49,14,168,4.42,130,7,8,9,12,2
Manchester Utd,26,38.0,1051,27.66,840,58,46,63,35,9,99,2.61,79,3,8,5,4,0
Newcastle Utd,27,38.0,1008,26.53,690,110,62,77,57,12,106,2.79,64,6,15,10,6,5
Nott'ham Forest,33,38.0,593,15.61,416,59,31,38,36,13,54,1.42,31,5,4,11,3,0
Southampton,36,38.0,718,18.89,493,77,46,51,38,13,61,1.61,35,5,7,5,6,3
Tottenham,29,38.0,910,23.95,692,60,46,55,38,19,116,3.05,84,7,7,9,7,2
West Ham,25,38.0,817,21.50,586,81,40,60,35,15,67,1.76,41,6,6,8,6,0
Wolves,32,38.0,713,18.76,521,62,30,47,42,11,44,1.16,32,1,3,6,1,1

In [21]:
team_stats={}

for key_iter in team_stats_url.keys():
    temp_stats={}
    temp_stats["squad_goal_and_shot_creation"] = get_team_stats_table(team_stats_url[key_iter], "stats_gca_9", "Player")
    temp_stats["squad_shooting"] = get_team_stats_table(team_stats_url[key_iter], "stats_shooting_9", "Player")
    temp_stats["squad_misc"] = get_team_stats_table(team_stats_url[key_iter], "stats_misc_9", "Player")
    
    team_stats[key_iter]=temp_stats

In [22]:
team_stats.keys()

dict_keys(['Manchester_City', 'Arsenel', 'Manchester_United', 'Newcastle', 'Liverpool', 'Brighton', 'Aston_Villa', 'Nottingham_Forest', 'Everton', 'Leicester_City', 'Leeds_United', 'Southampton'])