In [1]:
import requests
from bs4 import BeautifulSoup

import re
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = "https://www.planetfootball.com/quick-reads/premier-league-injury-table-22-23-liverpool-chelsea-arsenal-man-utd"
url_websites = requests.get(url)

In [3]:
url_html_code = BeautifulSoup(url_websites.content, "html.parser")

In [4]:
url_html_code_string = str(url_html_code)
url_html_code_string = url_html_code_string.replace("'","\'")

In [5]:
# url_html_code_string

In [6]:
p_tags = url_html_code.find_all('p')

In [7]:
data = []

In [8]:
for tag in p_tags:
    # Extract text from each <p> tag
    text = tag.get_text()

    # Use regular expressions to find matches for team names and counts
    matches = re.findall(r'(\d+)\.\s([A-Za-z\s]+)\sâ€“\s(\d+)', text)

    # If matches are found, add them to the data list
    for match in matches:
        rank, team, count = match
        data.append((rank, team.strip(), count))

In [9]:
for rank, team, count in data:
    print(f'Rank: {rank}, Team: {team}, Count: {count}')

Rank: 1, Team: Liverpool, Count: 162
Rank: 2, Team: Chelsea, Count: 124
Rank: 3, Team: Newcastle United, Count: 122
Rank: 4, Team: Nottingham Forest, Count: 120
Rank: 5, Team: Bournemouth, Count: 116
Rank: 6, Team: Wolves, Count: 108
Rank: 7, Team: Manchester United, Count: 106
Rank: 8, Team: Leeds United, Count: 104
Rank: 9, Team: Leicester City, Count: 103
Rank: 10, Team: Crystal Palace, Count: 97
Rank: 11, Team: Everton, Count: 97
Rank: 12, Team: Brentford, Count: 94
Rank: 13, Team: Southampton, Count: 85
Rank: 14, Team: Arsenal, Count: 79
Rank: 15, Team: Tottenham, Count: 78
Rank: 16, Team: Fulham, Count: 70
Rank: 17, Team: Aston Villa, Count: 63
Rank: 18, Team: West Ham United, Count: 63
Rank: 19, Team: Manchester City, Count: 49
Rank: 20, Team: Brighton, Count: 44

In [10]:

# Squadgoal_url_websites = requests.get(url)

In [11]:
def get_url_website(url):
    return requests.get(url)

def retrieve_html_code(url_website):
    return BeautifulSoup(url_website.content, "html.parser")

In [23]:
Squadgoal_url = get_url_website("https://fbref.com/en/comps/9/2022-2023/2022-2023-Premier-League-Stats")

Manchester_City_url = get_url_website("https://fbref.com/en/squads/b8fd03ef/2022-2023/Manchester-City-Stats")
Arsenel_url = get_url_website("https://fbref.com/en/squads/18bb7c10/2022-2023/Arsenal-Stats")
Manchester_United_url = get_url_website("https://fbref.com/en/squads/19538871/2022-2023/Manchester-United-Stats")
Newcastle_url = get_url_website("https://fbref.com/en/squads/b2b47a98/2022-2023/Newcastle-United-Stats")
Liverpool_url = get_url_website("https://fbref.com/en/squads/822bd0ba/2022-2023/Liverpool-Stats")
Brighton_url = get_url_website("https://fbref.com/en/squads/d07537b9/2022-2023/Brighton-and-Hove-Albion-Stats")
Aston_Villa_url = get_url_website("https://fbref.com/en/squads/8602292d/2022-2023/Aston-Villa-Stats")
Nottingham_Forest_url = get_url_website("https://fbref.com/en/squads/e4a775cb/2022-2023/Nottingham-Forest-Stats")
Everton_url = get_url_website("https://fbref.com/en/squads/d3fd31cc/2022-2023/Everton-Stats")
Leicester_City_url = get_url_website("https://fbref.com/en/squads/a2d435b3/2022-2023/Leicester-City-Stats")
Leeds_United_url = get_url_website("https://fbref.com/en/squads/a2d435b3/2022-2023/Leicester-City-Stats")
Southampton_url = get_url_website("https://fbref.com/en/squads/33c895d4/2022-2023/Southampton-Stats")

In [13]:
def get_stats_table(table_id, url):
    stats = url.find_all('table', attrs={"id":table_id})
    pl_stats = pd.read_html(str(stats))[0]
    pl_stats.columns = pl_stats.columns.droplevel(level=0)
    pl_stats = pl_stats.set_index("Squad")
    return pl_stats

In [24]:
Squadgoal_url = retrieve_html_code(Squadgoal_url)
Manchester_City_url = retrieve_html_code(Manchester_City_url)

In [ ]:
Squadgoal_stats = {}

Squadgoal_stats['squad_goal_and_shot_creation'] = get_stats_table("stats_squads_gca_for", Squadgoal_url)
Squadgoal_stats['squad_shooting'] = get_stats_table("stats_squads_shooting_for", Squadgoal_url)
Squadgoal_stats['squad_misc'] = get_stats_table("stats_squads_misc_for", Squadgoal_url)

# Squadgoal_stats['squad_manchester_goal_and_shot_creation'] = get_stats_table("stats_gca_9", Manchester_City_url)

In [22]:
Squadgoal_stats['squad_goal_and_shot_creation']

,# Pl,90s,SCA,SCA90,PassLive,PassDead,TO,Sh,Fld,Def,GCA,GCA90,PassLive,PassDead,TO,Sh,Fld,Def
Squad,,,,,,,,,,,,,,,,,,
Arsenal,26,38.0,1045,27.50,776,78,57,73,43,18,150,3.95,121,6,5,13,3,2
Aston Villa,26,38.0,751,19.76,565,50,48,38,40,10,84,2.21,55,2,6,12,6,3
Bournemouth,31,38.0,616,16.21,445,45,52,43,24,7,64,1.68,44,5,4,8,2,1
Brentford,25,38.0,702,18.47,475,99,32,45,44,7,98,2.58,65,8,4,8,11,2
Brighton,29,38.0,1075,28.29,819,73,81,63,27,12,115,3.03,83,3,13,9,6,1
Chelsea,32,38.0,859,22.61,667,66,42,42,31,11,68,1.79,57,3,2,2,4,0
Crystal Palace,26,38.0,746,19.63,497,67,56,49,59,18,67,1.76,43,6,6,6,4,2
Everton,28,38.0,735,19.34,495,84,37,54,45,20,59,1.55,41,5,5,2,4,2
Fulham,29,38.0,751,19.76,528,78,29,54,47,15,90,2.37,56,9,5,11,7,2
Leeds United,29,38.0,783,20.61,535,99,32,54,48,15,69,1.82,43,7,4,9,3,3
Leicester City,28,38.0,744,19.58,540,52,50,50,38,14,87,2.29,59,2,8,8,7,3
Liverpool,28,38.0,1046,27.53,778,85,55,75,33,20,129,3.39,97,9,7,8,7,1
Manchester City,24,38.0,1099,28.92,826,81,53,76,49,14,168,4.42,130,7,8,9,12,2
Manchester Utd,26,38.0,1051,27.66,840,58,46,63,35,9,99,2.61,79,3,8,5,4,0
Newcastle Utd,27,38.0,1008,26.53,690,110,62,77,57,12,106,2.79,64,6,15,10,6,5
Nott'ham Forest,33,38.0,593,15.61,416,59,31,38,36,13,54,1.42,31,5,4,11,3,0
Southampton,36,38.0,718,18.89,493,77,46,51,38,13,61,1.61,35,5,7,5,6,3
Tottenham,29,38.0,910,23.95,692,60,46,55,38,19,116,3.05,84,7,7,9,7,2
West Ham,25,38.0,817,21.50,586,81,40,60,35,15,67,1.76,41,6,6,8,6,0
Wolves,32,38.0,713,18.76,521,62,30,47,42,11,44,1.16,32,1,3,6,1,1

In [29]:
#soup = BeautifulSoup(Manchester_City_url, 'html.parser')

# Find the table by ID
table = Manchester_City_url.find('table', {'id': 'stats_gca_9'})

# Extract headers
headers = [header.text for header in table.find_all('th')]

# List to hold all rows' data
table_data = []

# Iterate over each row in the table body
for row in table.find('tbody').find_all('tr'):
    # Dictionary to store each row's data
    row_data = {}
    # Extract each cell in the row
    for idx, cell in enumerate(row.find_all('td')):
        header = headers[idx]
        row_data[header] = cell.text
    # Append the row's data to the table_data list
    table_data.append(row_data)

In [30]:
table_data

[{'': '0.06',
  'SCA': '0',
  'SCA Types': '28',
  'GCA': '0',
  'GCA Types': '2',
  'Player': '2',
  'Nation': '0',
  'Pos': '0',
  'Age': '0',
  '90s': '0',
  'SCA90': '1',
  'PassLive': '0.03',
  'PassDead': '1',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '2.84',
  'SCA': '1',
  'SCA Types': '26',
  'GCA': '0',
  'GCA Types': '92',
  'Player': '80',
  'Nation': '0',
  'Pos': '4',
  'Age': '6',
  '90s': '1',
  'SCA90': '10',
  'PassLive': '0.31',
  'PassDead': '10',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '2.34',
  'SCA': '1',
  'SCA Types': '22',
  'GCA': '0',
  'GCA Types': '72',
  'Player': '48',
  'Nation': '0',
  'Pos': '5',
  'Age': '10',
  '90s': '8',
  'SCA90': '17',
  'PassLive': '0.55',
  'PassDead': '14',
  'TO': '0',
  'Sh': '0',
  'Fld': '1',
  'Def': '2',
  'GCA90': 'Matches'},
 {'': '6.55',
  'SCA': '3',
  'SCA Types': '31',
  'GCA': '0',
  'GCA Types': '176',
  'Player': '120',
  'Nation': '33',
  'Pos': '8',
  'Age': '7',
  '90s': '5',
  'SCA90': '31',
  'PassLive': '1.15',
  'PassDead': '24',
  'TO': '3',
  'Sh': '1',
  'Fld': '1',
  'Def': '2',
  'GCA90': 'Matches'},
 {'': '3.44',
  'SCA': '2',
  'SCA Types': '31',
  'GCA': '0',
  'GCA Types': '90',
  'Player': '71',
  'Nation': '7',
  'Pos': '2',
  'Age': '4',
  '90s': '4',
  'SCA90': '17',
  'PassLive': '0.65',
  'PassDead': '13',
  'TO': '1',
  'Sh': '0',
  'Fld': '1',
  'Def': '2',
  'GCA90': 'Matches'},
 {'': '0.91',
  'SCA': '0',
  'SCA Types': '27',
  'GCA': '0',
  'GCA Types': '23',
  'Player': '22',
  'Nation': '0',
  'Pos': '0',
  'Age': '1',
  '90s': '0',
  'SCA90': '0',
  'PassLive': '0.00',
  'PassDead': '0',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '3.06',
  'SCA': '1',
  'SCA Types': '27',
  'GCA': '0',
  'GCA Types': '75',
  'Player': '65',
  'Nation': '1',
  'Pos': '4',
  'Age': '1',
  '90s': '3',
  'SCA90': '12',
  'PassLive': '0.49',
  'PassDead': '11',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '1',
  'GCA90': 'Matches'},
 {'': '4.55',
  'SCA': '1',
  'SCA Types': '26',
  'GCA': '1',
  'GCA Types': '104',
  'Player': '71',
  'Nation': '7',
  'Pos': '6',
  'Age': '6',
  '90s': '13',
  'SCA90': '20',
  'PassLive': '0.88',
  'PassDead': '14',
  'TO': '1',
  'Sh': '0',
  'Fld': '1',
  'Def': '3',
  'GCA90': 'Matches'},
 {'': '0.68',
  'SCA': '0',
  'SCA Types': '25',
  'GCA': '0',
  'GCA Types': '15',
  'Player': '11',
  'Nation': '1',
  'Pos': '0',
  'Age': '3',
  '90s': '0',
  'SCA90': '1',
  'PassLive': '0.05',
  'PassDead': '1',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '1.15',
  'SCA': '1',
  'SCA Types': '32',
  'GCA': '0',
  'GCA Types': '25',
  'Player': '22',
  'Nation': '2',
  'Pos': '0',
  'Age': '0',
  '90s': '0',
  'SCA90': '3',
  'PassLive': '0.14',
  'PassDead': '3',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '5.44',
  'SCA': '2',
  'SCA Types': '31',
  'GCA': '1',
  'GCA Types': '116',
  'Player': '74',
  'Nation': '17',
  'Pos': '7',
  'Age': '10',
  '90s': '6',
  'SCA90': '21',
  'PassLive': '0.98',
  'PassDead': '13',
  'TO': '2',
  'Sh': '2',
  'Fld': '3',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '1.15',
  'SCA': '1',
  'SCA Types': '27',
  'GCA': '0',
  'GCA Types': '24',
  'Player': '20',
  'Nation': '1',
  'Pos': '0',
  'Age': '2',
  '90s': '0',
  'SCA90': '2',
  'PassLive': '0.10',
  'PassDead': '2',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '4.83',
  'SCA': '0',
  'SCA Types': '22',
  'GCA': '0',
  'GCA Types': '99',
  'Player': '76',
  'Nation': '9',
  'Pos': '6',
  'Age': '5',
  '90s': '3',
  'SCA90': '14',
  'PassLive': '0.68',
  'PassDead': '10',
  'TO': '0',
  'Sh': '3',
  'Fld': '0',
  'Def': '1',
  'GCA90': 'Matches'},
 {'': '0.78',
  'SCA': '0',
  'SCA Types': '28',
  'GCA': '0',
  'GCA Types': '16',
  'Player': '12',
  'Nation': '1',
  'Pos': '0',
  'Age': '3',
  '90s': '0',
  'SCA90': '5',
  'PassLive': '0.24',
  'PassDead': '4',
  'TO': '0',
  'Sh': '0',
  'Fld': '1',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '2.76',
  'SCA': '1',
  'SCA Types': '28',
  'GCA': '0',
  'GCA Types': '39',
  'Player': '30',
  'Nation': '0',
  'Pos': '2',
  'Age': '5',
  '90s': '1',
  'SCA90': '6',
  'PassLive': '0.42',
  'PassDead': '5',
  'TO': '0',
  'Sh': '1',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '3.20',
  'SCA': '0',
  'SCA Types': '22',
  'GCA': '0',
  'GCA Types': '52',
  'Player': '39',
  'Nation': '0',
  'Pos': '6',
  'Age': '5',
  '90s': '2',
  'SCA90': '5',
  'PassLive': '0.31',
  'PassDead': '2',
  'TO': '0',
  'Sh': '1',
  'Fld': '1',
  'Def': '1',
  'GCA90': 'Matches'},
 {'': '1.54',
  'SCA': '0',
  'SCA Types': '28',
  'GCA': '0',
  'GCA Types': '17',
  'Player': '16',
  'Nation': '0',
  'Pos': '0',
  'Age': '1',
  '90s': '0',
  'SCA90': '0',
  'PassLive': '0.00',
  'PassDead': '0',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '2.69',
  'SCA': '0',
  'SCA Types': '17',
  'GCA': '0',
  'GCA Types': '27',
  'Player': '24',
  'Nation': '1',
  'Pos': '0',
  'Age': '1',
  '90s': '1',
  'SCA90': '0',
  'PassLive': '0.00',
  'PassDead': '0',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '0.00',
  'SCA': '0',
  'SCA Types': '29',
  'GCA': '0',
  'GCA Types': '0',
  'Player': '0',
  'Nation': '0',
  'Pos': '0',
  'Age': '0',
  '90s': '0',
  'SCA90': '0',
  'PassLive': '0.00',
  'PassDead': '0',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '4.86',
  'SCA': '0',
  'SCA Types': '20',
  'GCA': '0',
  'GCA Types': '20',
  'Player': '11',
  'Nation': '0',
  'Pos': '3',
  'Age': '4',
  '90s': '2',
  'SCA90': '1',
  'PassLive': '0.24',
  'PassDead': '1',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '1.81',
  'SCA': '0',
  'SCA Types': '21',
  'GCA': '0',
  'GCA Types': '7',
  'Player': '6',
  'Nation': '1',
  'Pos': '0',
  'Age': '0',
  '90s': '0',
  'SCA90': '1',
  'PassLive': '0.26',
  'PassDead': '1',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '2.10',
  'SCA': '0',
  'SCA Types': '26',
  'GCA': '0',
  'GCA Types': '7',
  'Player': '5',
  'Nation': '0',
  'Pos': '0',
  'Age': '2',
  '90s': '0',
  'SCA90': '1',
  'PassLive': '0.30',
  'PassDead': '1',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '0.00',
  'SCA': '0',
  'SCA Types': '18',
  'GCA': '0',
  'GCA Types': '0',
  'Player': '0',
  'Nation': '0',
  'Pos': '0',
  'Age': '0',
  '90s': '0',
  'SCA90': '0',
  'PassLive': '0.00',
  'PassDead': '0',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'},
 {'': '4.74',
  'SCA': '0',
  'SCA Types': '19',
  'GCA': '0',
  'GCA Types': '1',
  'Player': '1',
  'Nation': '0',
  'Pos': '0',
  'Age': '0',
  '90s': '0',
  'SCA90': '0',
  'PassLive': '0.00',
  'PassDead': '0',
  'TO': '0',
  'Sh': '0',
  'Fld': '0',
  'Def': '0',
  'GCA90': 'Matches'}]