In [1]:
import requests
from bs4 import BeautifulSoup

import re
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\vivek\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\vivek\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\vivek\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
def get_url_website(url):
    return requests.get(url)

def retrieve_html_code(url_website):
    return BeautifulSoup(url_website.content, "html.parser")

In [3]:
url_website_pl_22_23_stats = get_url_website("https://fbref.com/en/comps/9/2022-2023/2022-2023-Premier-League-Stats")

In [4]:
def get_stats_table(table_id, index_col_name):
    stats = html_website_pl_22_23_stats.find_all('table', attrs={"id":table_id})
    pl_stats = pd.read_html(str(stats))[0]
    pl_stats.columns = pl_stats.columns.droplevel(level=0)
    pl_stats = pl_stats.set_index(index_col_name)
    return pl_stats

In [5]:
url_website_pl_22_23_stats

In [6]:
html_website_pl_22_23_stats = retrieve_html_code(url_website_pl_22_23_stats)

In [7]:
pl_stats = {}

pl_stats['squad_standard_stats'] = get_stats_table("stats_squads_standard_for", "Squad")
pl_stats['squad_goalkeeping'] = get_stats_table("stats_squads_keeper_for", "Squad")
pl_stats['squad_advanced_goalkeeping'] = get_stats_table("stats_squads_keeper_adv_for", "Squad")
pl_stats['squad_defensive_actions'] = get_stats_table("stats_squads_defense_for", "Squad")
pl_stats['squad_possession'] = get_stats_table("stats_squads_possession_for", "Squad")
pl_stats['squad_goal_and_shot_creation'] = get_stats_table("stats_squads_gca_for", "Squad")
pl_stats['squad_shooting'] = get_stats_table("stats_squads_shooting_for", "Squad")
pl_stats['squad_misc'] = get_stats_table("stats_squads_misc_for", "Squad")

In [8]:
pl_stats.keys()

dict_keys(['squad_standard_stats', 'squad_goalkeeping', 'squad_advanced_goalkeeping', 'squad_defensive_actions', 'squad_possession'])

In [9]:
#pl_stats

In [10]:
pd.concat([pl_stats[stat_name] for stat_name in pl_stats.keys()],axis=1, join='outer').to_csv("pl_stats.csv",index=True)

In [11]:
team_stats_url = {}

In [12]:
team_stats_url['manchester_city'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/b8fd03ef/2022-2023/Manchester-City-Stats"))
team_stats_url['arsenel'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/18bb7c10/2022-2023/Arsenal-Stats"))
team_stats_url['manchester_united'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/19538871/2022-2023/Manchester-United-Stats"))
team_stats_url['newcastle'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/b2b47a98/2022-2023/Newcastle-United-Stats"))
team_stats_url['liverpool'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/822bd0ba/2022-2023/Liverpool-Stats"))
team_stats_url['brighton'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/d07537b9/2022-2023/Brighton-and-Hove-Albion-Stats"))
team_stats_url['aston_villa'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/8602292d/2022-2023/Aston-Villa-Stats"))
team_stats_url['nottingham_forest'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/e4a775cb/2022-2023/Nottingham-Forest-Stats"))
team_stats_url['everton'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/d3fd31cc/2022-2023/Everton-Stats"))
team_stats_url['leicester_city'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/a2d435b3/2022-2023/Leicester-City-Stats"))
team_stats_url['leeds_united'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/5bfb9659/2022-2023/Leeds-United-Stats"))
team_stats_url['southampton'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/33c895d4/2022-2023/Southampton-Stats"))

In [13]:
def get_team_stats_table(website_html, table_id, index_col_name):
    stats = website_html.find_all('table', attrs={"id":table_id})
    pl_stats = pd.read_html(str(stats))[0]
    pl_stats.columns = pl_stats.columns.droplevel(level=0)
    pl_stats = pl_stats.set_index(index_col_name)
    return pl_stats

In [14]:
#team_stats_url['manchester_united']

In [15]:
get_team_stats_table(team_stats_url['manchester_united'], "stats_keeper_adv_9", "Player")

,Nation,Pos,Age,90s,GA,PKA,FK,CK,OG,PSxG,...,Att,Launch%,AvgLen,Opp,Stp,Stp%,#OPA,#OPA/90,AvgDist,Matches
Player,,,,,,,,,,,,,,,,,,,,,
David de Gea,es ESP,GK,31.0,38.0,43,2,2,6,1,41.3,...,179,63.1,47.1,526,15,2.9,32,0.84,14.8,Matches
Squad Total,NaN,NaN,26.9,38.0,43,2,2,6,1,41.3,...,302,37.4,31.7,526,15,2.9,32,0.84,NaN,NaN
Opponent Total,NaN,NaN,26.4,38.0,58,3,0,3,2,63.8,...,291,44.7,36.9,406,19,4.7,64,1.68,18.2,NaN

In [19]:
team_stats={}

for key_iter in team_stats_url.keys():
    temp_stats={}
    temp_stats["squad_standard_stats"]=get_team_stats_table(team_stats_url[key_iter], "stats_standard_9", "Player").drop("Matches",axis=1)
    temp_stats["squad_goalkeeping"]=get_team_stats_table(team_stats_url[key_iter], "stats_keeper_9", "Player").drop(["Matches", "Nation", "Pos"],axis=1)
    temp_stats["squad_advanced_goalkeeping"]=get_team_stats_table(team_stats_url[key_iter], "stats_keeper_adv_9", "Player").drop(["Matches", "Nation", "Pos"],axis=1)
    temp_stats["squad_defensive_actions"]=get_team_stats_table(team_stats_url[key_iter], "stats_defense_9", "Player").drop("Matches",axis=1)
    temp_stats["squad_possession"]=get_team_stats_table(team_stats_url[key_iter], "stats_possession_9", "Player").drop("Matches",axis=1)
    temp_stats["squad_goal_and_shot_creation"]=get_team_stats_table(team_stats_url[key_iter], "stats_gca_9", "Player").drop("Matches",axis=1)
    temp_stats["squad_shooting"]=get_team_stats_table(team_stats_url[key_iter], "stats_shooting_9", "Player").drop("Matches",axis=1)
    temp_stats["squad_misc"]=get_team_stats_table(team_stats_url[key_iter], "stats_misc_9", "Player").drop("Matches",axis=1)
    
    
    #print(temp_stats.keys())
    #print(pd.concat([temp_stats['squad_standard_stats'], temp_stats['squad_defensive_actions']],axis=1).columns)
    temp_df=pd.concat([temp_stats[stat_name] for stat_name in temp_stats.keys()],axis=1, join='outer')
    
    team_stats[key_iter]=temp_df

In [20]:
#print(team_stats.keys(), team_stats["manchester_united"].keys())

In [54]:
import csv
import os

def saver(dictex):
    for key, val in dictex.items():
        #print(key, val)
        #print(f"Duplicate columns in {str(key)}")
        #print(val.columns[val.columns.duplicated()], val.columns[val.columns.duplicated()].value_counts())
        #print(val.columns[val.columns.duplicated()], val.columns)
        
        #val.drop(val.columns[val.columns.duplicated()],axis=1).to_csv("data_{}.csv".format(str(key)))
        unique_columns = set(val.columns)

        # Drop the duplicate columns
        #print(pd.Series(val.columns == val[list(unique_columns)].columns).value_counts())
        val = val[list(unique_columns)]
        val.to_csv("data_{}.csv".format(str(key)))
        #print(val.columns[val.columns.duplicated()], val.columns[val.columns.duplicated()].value_counts())
        
def loader(data_keys):
    dictex = {}    
    for key in data_keys:
        file_path = "data_{}.csv".format(str(key))
        if os.path.exists(file_path):
            continue
        else:
            df = pd.DataFrame()
            df.to_csv(file_path, index=False)
        dictex[key] = pd.read_csv(file_path)
    #print(dictex)
    return dictex

#dictex = loader(team_stats.keys())
saver(team_stats)

In [57]:
import seaborn as sns

In [83]:
man_utd_stats = pd.read_csv("data_manchester_united.csv", index_col="Player")

In [84]:
data_corr=man_utd_stats.corr()

In [85]:
data_corr

,Clr,CK,FK,Age,Age.1,Age.2,Age.3,Age.4,Touches,npxG,...,Att.1,Att.2,Att.3,GA90,CPA,PSxG,CrdR,G+A,G+A.1,Tkl%
Clr,1.000000,-0.322417,-0.322417,0.096273,-0.956938,-0.956938,0.096273,0.096273,0.991166,0.955398,...,0.993461,0.975628,0.964683,0.322417,0.943789,0.322417,0.541410,0.951568,0.878087,0.184466
CK,-0.322417,1.000000,1.000000,0.583324,0.583324,0.583324,0.583324,0.583324,-0.400734,-0.261956,...,-0.428382,-0.566584,-0.487519,-1.000000,-0.385596,-1.000000,0.500000,-0.240192,-0.239022,-0.519010
FK,-0.322417,1.000000,1.000000,0.583324,0.583324,0.583324,0.583324,0.583324,-0.400734,-0.261956,...,-0.428382,-0.566584,-0.487519,-1.000000,-0.385596,-1.000000,0.500000,-0.240192,-0.239022,-0.519010
Age,0.096273,0.583324,0.583324,1.000000,1.000000,1.000000,1.000000,1.000000,0.091237,0.056844,...,-0.983823,0.080488,0.022050,-0.583324,-0.020708,-0.583324,0.179362,0.057201,0.002512,-0.009943
Age.1,-0.956938,0.583324,0.583324,1.000000,1.000000,1.000000,1.000000,1.000000,-0.977927,-0.936681,...,-0.983823,-0.999791,-0.993558,-0.583324,-0.974355,-0.583324,-0.411758,-0.928571,-0.928123,-0.997027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PSxG,0.322417,-1.000000,-1.000000,-0.583324,-0.583324,-0.583324,-0.583324,-0.583324,0.400734,0.261956,...,0.428382,0.566584,0.487519,1.000000,0.385596,1.000000,-0.500000,0.240192,0.239022,0.519010
CrdR,0.541410,0.500000,0.500000,0.179362,-0.411758,-0.411758,0.179362,0.179362,0.510567,0.534801,...,0.568348,0.492398,0.453627,-0.500000,0.465423,-0.500000,1.000000,0.551514,0.526313,0.096578
G+A,0.951568,-0.240192,-0.240192,0.057201,-0.928571,-0.928571,0.057201,0.057201,0.969584,0.997264,...,0.980039,0.951308,0.977191,0.240192,0.983290,0.240192,0.551514,1.000000,0.963140,0.048356
G+A.1,0.878087,-0.239022,-0.239022,0.002512,-0.928123,-0.928123,0.002512,0.002512,0.905246,0.958353,...,0.979799,0.890558,0.930943,0.239022,0.952108,0.239022,0.526313,0.963140,1.000000,-0.064290
Tkl%,0.184466,-0.519010,-0.519010,-0.009943,-0.997027,-0.997027,-0.009943,-0.009943,0.130556,0.055137,...,0.994701,0.138079,0.089257,0.519010,0.040648,0.519010,0.096578,0.048356,-0.064290,1.000000

In [134]:
correlated_features = data_corr[(data_corr > 0.6) | (data_corr < -0.6)]

In [135]:
correlated_features_df = correlated_features.stack().index
correlated_features_df=pd.DataFrame(correlated_features_df)

correlated_features_df

                      0
0            (Clr, Clr)
1          (Clr, Age.1)
2          (Clr, Age.2)
3        (Clr, Touches)
4           (Clr, npxG)
...                 ...
6007   (Tkl%, AvgLen.1)
6008    (Tkl%, Launch%)
6009  (Tkl%, Launch%.1)
6010      (Tkl%, Att.1)
6011       (Tkl%, Tkl%)

[6012 rows x 1 columns]

In [142]:
correlated_features_df = pd.DataFrame(correlated_features.stack().index)
#print(correlated_features_df.loc[:,0])
correlated_features_df=pd.DataFrame(correlated_features_df.loc[:,0])
#correlated_features_df

In [138]:
#[correlated_features_df.loc[:,0][i][0] != correlated_features_df.loc[:,0][i][1] for i in range(len(correlated_features_df))]

In [148]:
correlated_features_df[0].loc[:,0]

IndexingError: Too many indexers

In [139]:
correlated_features_df=correlated_features_df[[correlated_features_df.loc[:,0][i][0] != correlated_features_df.loc[:,0][i][1] for i in range(len(correlated_features_df))]]

In [140]:
correlated_features_df

                      0
1          (Clr, Age.1)
2          (Clr, Age.2)
3        (Clr, Touches)
4           (Clr, npxG)
5         (Clr, npxG.1)
...                 ...
6006    (Tkl%, AvgDist)
6007   (Tkl%, AvgLen.1)
6008    (Tkl%, Launch%)
6009  (Tkl%, Launch%.1)
6010      (Tkl%, Att.1)

[5902 rows x 1 columns]

In [ ]:
man_utd_stats[]