In [1]:
import requests
from bs4 import BeautifulSoup

import re
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\vivek\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\vivek\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\vivek\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
def get_url_website(url):
    return requests.get(url)

def retrieve_html_code(url_website):
    return BeautifulSoup(url_website.content, "html.parser")

In [3]:
url_website_pl_22_23_stats = get_url_website("https://fbref.com/en/comps/9/2022-2023/2022-2023-Premier-League-Stats")

In [4]:
def get_stats_table(table_id, index_col_name):
    stats = html_website_pl_22_23_stats.find_all('table', attrs={"id":table_id})
    pl_stats = pd.read_html(str(stats))[0]
    pl_stats.columns = pl_stats.columns.droplevel(level=0)
    pl_stats = pl_stats.set_index(index_col_name)
    return pl_stats

In [5]:
url_website_pl_22_23_stats

In [6]:
html_website_pl_22_23_stats = retrieve_html_code(url_website_pl_22_23_stats)

In [7]:
pl_stats = {}

stats1 = html_website_pl_22_23_stats.find_all('table', attrs={"id":"results2022-202391_overall"})
pl_stats1 = pd.read_html(str(stats1))[0]
#pl_stats1.columns = pl_stats1.columns.droplevel(level=0)
pl_stats1 = pl_stats1.set_index("Squad")
pl_stats['regular_season'] = pl_stats1

In [8]:
#pl_stats['regular_season'] = get_stats_table("results2022-202391_overall", "Squad")
pl_stats['squad_standard_stats'] = get_stats_table("stats_squads_standard_for", "Squad")
pl_stats['squad_goalkeeping'] = get_stats_table("stats_squads_keeper_for", "Squad")
pl_stats['squad_advanced_goalkeeping'] = get_stats_table("stats_squads_keeper_adv_for", "Squad")
pl_stats['squad_defensive_actions'] = get_stats_table("stats_squads_defense_for", "Squad")
pl_stats['squad_possession'] = get_stats_table("stats_squads_possession_for", "Squad")
pl_stats['squad_goal_and_shot_creation'] = get_stats_table("stats_squads_gca_for", "Squad")
pl_stats['squad_shooting'] = get_stats_table("stats_squads_shooting_for", "Squad")
pl_stats['squad_misc'] = get_stats_table("stats_squads_misc_for", "Squad")

In [9]:
pl_stats.keys()

dict_keys(['regular_season', 'squad_standard_stats', 'squad_goalkeeping', 'squad_advanced_goalkeeping', 'squad_defensive_actions', 'squad_possession', 'squad_goal_and_shot_creation', 'squad_shooting', 'squad_misc'])

In [10]:
#pl_stats

In [11]:
pd.concat([pl_stats[stat_name] for stat_name in pl_stats.keys()],axis=1, join='outer').to_csv("pl_stats.csv",index=True)

In [12]:
team_stats_url = {}

In [13]:
team_stats_url['manchester_city'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/b8fd03ef/2022-2023/Manchester-City-Stats"))
team_stats_url['arsenel'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/18bb7c10/2022-2023/Arsenal-Stats"))
team_stats_url['manchester_united'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/19538871/2022-2023/Manchester-United-Stats"))
team_stats_url['newcastle'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/b2b47a98/2022-2023/Newcastle-United-Stats"))
team_stats_url['liverpool'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/822bd0ba/2022-2023/Liverpool-Stats"))
team_stats_url['brighton'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/d07537b9/2022-2023/Brighton-and-Hove-Albion-Stats"))
team_stats_url['aston_villa'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/8602292d/2022-2023/Aston-Villa-Stats"))
team_stats_url['nottingham_forest'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/e4a775cb/2022-2023/Nottingham-Forest-Stats"))
team_stats_url['everton'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/d3fd31cc/2022-2023/Everton-Stats"))
team_stats_url['leicester_city'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/a2d435b3/2022-2023/Leicester-City-Stats"))
team_stats_url['leeds_united'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/5bfb9659/2022-2023/Leeds-United-Stats"))
team_stats_url['southampton'] = retrieve_html_code(get_url_website("https://fbref.com/en/squads/33c895d4/2022-2023/Southampton-Stats"))

In [14]:
def get_team_stats_table(website_html, table_id, index_col_name):
    stats = website_html.find_all('table', attrs={"id":table_id})
    pl_stats = pd.read_html(str(stats))[0]
    pl_stats.columns = pl_stats.columns.droplevel(level=0)
    pl_stats = pl_stats.set_index(index_col_name)
    return pl_stats

In [15]:
#team_stats_url['manchester_united']

In [16]:
get_team_stats_table(team_stats_url['manchester_united'], "stats_keeper_adv_9", "Player")

,Nation,Pos,Age,90s,GA,PKA,FK,CK,OG,PSxG,...,Att,Launch%,AvgLen,Opp,Stp,Stp%,#OPA,#OPA/90,AvgDist,Matches
Player,,,,,,,,,,,,,,,,,,,,,
David de Gea,es ESP,GK,31.0,38.0,43,2,2,6,1,41.3,...,179,63.1,47.1,526,15,2.9,32,0.84,14.8,Matches
Squad Total,NaN,NaN,26.9,38.0,43,2,2,6,1,41.3,...,302,37.4,31.7,526,15,2.9,32,0.84,NaN,NaN
Opponent Total,NaN,NaN,26.4,38.0,58,3,0,3,2,63.8,...,291,44.7,36.9,406,19,4.7,64,1.68,18.2,NaN

In [17]:
team_stats={}

for key_iter in team_stats_url.keys():
    temp_stats={}
    temp_stats["squad_standard_stats"]=get_team_stats_table(team_stats_url[key_iter], "stats_standard_9", "Player").drop("Matches",axis=1)
    temp_stats["squad_goalkeeping"]=get_team_stats_table(team_stats_url[key_iter], "stats_keeper_9", "Player").drop(["Matches", "Nation", "Pos"],axis=1)
    temp_stats["squad_advanced_goalkeeping"]=get_team_stats_table(team_stats_url[key_iter], "stats_keeper_adv_9", "Player").drop(["Matches", "Nation", "Pos"],axis=1)
    temp_stats["squad_defensive_actions"]=get_team_stats_table(team_stats_url[key_iter], "stats_defense_9", "Player").drop("Matches",axis=1)
    temp_stats["squad_possession"]=get_team_stats_table(team_stats_url[key_iter], "stats_possession_9", "Player").drop("Matches",axis=1)
    temp_stats["squad_goal_and_shot_creation"]=get_team_stats_table(team_stats_url[key_iter], "stats_gca_9", "Player").drop("Matches",axis=1)
    temp_stats["squad_shooting"]=get_team_stats_table(team_stats_url[key_iter], "stats_shooting_9", "Player").drop("Matches",axis=1)
    temp_stats["squad_misc"]=get_team_stats_table(team_stats_url[key_iter], "stats_misc_9", "Player").drop("Matches",axis=1)
    
    
    #print(temp_stats.keys())
    #print(pd.concat([temp_stats['squad_standard_stats'], temp_stats['squad_defensive_actions']],axis=1).columns)
    temp_df=pd.concat([temp_stats[stat_name] for stat_name in temp_stats.keys()],axis=1, join='outer')
    
    team_stats[key_iter]=temp_df

In [18]:
#print(team_stats.keys(), team_stats["manchester_united"].keys())

In [19]:
import csv
import os

def saver(dictex):
    for key, val in dictex.items():
        #print(key, val)
        #print(f"Duplicate columns in {str(key)}")
        #print(val.columns[val.columns.duplicated()], val.columns[val.columns.duplicated()].value_counts())
        #print(val.columns[val.columns.duplicated()], val.columns)
        
        #val.drop(val.columns[val.columns.duplicated()],axis=1).to_csv("data_{}.csv".format(str(key)))
        unique_columns = set(val.columns)

        # Drop the duplicate columns
        #print(pd.Series(val.columns == val[list(unique_columns)].columns).value_counts())
        val = val[list(unique_columns)]
        val.to_csv("data_{}.csv".format(str(key)))
        #print(val.columns[val.columns.duplicated()], val.columns[val.columns.duplicated()].value_counts())
        
def loader(data_keys):
    dictex = {}    
    for key in data_keys:
        file_path = "data_{}.csv".format(str(key))
        if os.path.exists(file_path):
            continue
        else:
            df = pd.DataFrame()
            df.to_csv(file_path, index=False)
        dictex[key] = pd.read_csv(file_path)
    #print(dictex)
    return dictex

#dictex = loader(team_stats.keys())
saver(team_stats)

In [20]:
import seaborn as sns

In [21]:
man_utd_stats = pd.read_csv("data_manchester_united.csv", index_col="Player")

In [22]:
data_corr=man_utd_stats.corr()

In [23]:
data_corr

,L,Def,Def.1,SoT,PassDead,PassDead.1,PrgR,PrgR.1,G+A-PK,Fld,...,PSxG/SoT,Stp,PKsv,Min,Min.1,GA90,PKcon,AvgLen,AvgLen.1,SoT/90
L,1.000000,0.827788,1.000000,0.197805,0.750054,0.693375,0.375692,0.375692,0.242002,0.658195,...,1.000000,1.000000,-1.000000,NaN,NaN,1.000000,0.500000,NaN,-0.184242,0.198370
Def,0.827788,1.000000,0.859751,0.851848,0.927162,0.816269,0.908219,0.908219,0.816187,0.958637,...,0.827788,0.827788,-0.827788,0.485194,NaN,0.827788,0.859751,NaN,-0.703950,0.808486
Def.1,1.000000,0.859751,1.000000,0.514858,0.784682,0.672510,0.618592,0.618592,0.501770,0.761407,...,1.000000,1.000000,-1.000000,0.339707,NaN,1.000000,0.641026,NaN,-0.184242,0.479895
SoT,0.197805,0.851848,0.514858,1.000000,0.877989,0.775970,0.986527,0.986527,0.953887,0.933838,...,0.197805,0.197805,-0.197805,0.569646,NaN,0.197805,0.875151,NaN,-0.999905,0.964722
PassDead,0.750054,0.927162,0.784682,0.877989,1.000000,0.885304,0.924032,0.924032,0.833613,0.969259,...,0.750054,0.750054,-0.750054,0.591145,NaN,0.750054,0.868838,NaN,-0.788246,0.816389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GA90,1.000000,0.827788,1.000000,0.197805,0.750054,0.693375,0.375692,0.375692,0.242002,0.658195,...,1.000000,1.000000,-1.000000,NaN,NaN,1.000000,0.500000,NaN,-0.184242,0.198370
PKcon,0.500000,0.859751,0.641026,0.875151,0.868838,0.757714,0.899008,0.899008,0.822368,0.916895,...,0.500000,0.500000,-0.500000,0.516538,NaN,0.500000,1.000000,NaN,-0.943321,0.820341
AvgLen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AvgLen.1,-0.184242,-0.703950,-0.184242,-0.999905,-0.788246,-0.835990,-0.980098,-0.980098,-0.998252,-0.861227,...,-0.184242,-0.184242,0.184242,NaN,NaN,-0.184242,-0.943321,NaN,1.000000,-0.999896
SoT/90,0.198370,0.808486,0.479895,0.964722,0.816389,0.728849,0.946888,0.946888,0.975600,0.889146,...,0.198370,0.198370,-0.198370,0.469799,NaN,0.198370,0.820341,NaN,-0.999896,1.000000

In [24]:
correlated_features = data_corr[(data_corr > 0.6) | (data_corr < -0.6)]

In [25]:
correlated_features_df = correlated_features.stack().index
correlated_features_df=pd.DataFrame(correlated_features_df)

correlated_features_df

                         0
0                   (L, L)
1                 (L, Def)
2               (L, Def.1)
3            (L, PassDead)
4          (L, PassDead.1)
...                    ...
14209  (SoT/90, Launch%.1)
14210        (SoT/90, 1/3)
14211      (SoT/90, PKcon)
14212   (SoT/90, AvgLen.1)
14213     (SoT/90, SoT/90)

[14214 rows x 1 columns]

In [26]:
correlated_features_df = pd.DataFrame(correlated_features.stack().index)
#print(correlated_features_df.loc[:,0])
correlated_features_df=pd.DataFrame(correlated_features_df.loc[:,0])
#correlated_features_df

In [27]:
#[correlated_features_df.loc[:,0][i][0] != correlated_features_df.loc[:,0][i][1] for i in range(len(correlated_features_df))]

In [28]:
correlated_features_df[0].loc[:,0]

IndexingError: Too many indexers

In [ ]:
correlated_features_df=correlated_features_df[[correlated_features_df.loc[:,0][i][0] != correlated_features_df.loc[:,0][i][1] for i in range(len(correlated_features_df))]]

In [ ]:
correlated_features_df

In [ ]:
man_utd_stats[]