In [1]:
import requests
from bs4 import BeautifulSoup

import re
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\vivek\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\vivek\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\vivek\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
def get_url_website(url):
    return requests.get(url)

def retrieve_html_code(url_website):
    return BeautifulSoup(url_website.content, "html.parser")

In [3]:
url_website_pl_22_23_stats = get_url_website("https://fbref.com/en/comps/9/2022-2023/2022-2023-Premier-League-Stats")

In [4]:
def get_stats_table(table_id):
    stats = html_website_pl_22_23_stats.find_all('table', attrs={"id":table_id})
    pl_stats = pd.read_html(str(stats))[0]
    pl_stats.columns = pl_stats.columns.droplevel(level=0)
    pl_stats = pl_stats.set_index("Squad")
    return pl_stats

In [5]:
url_website_pl_22_23_stats

In [6]:
html_website_pl_22_23_stats = retrieve_html_code(url_website_pl_22_23_stats)

In [7]:
pl_stats = {}

pl_stats['squad_standard_stats'] = get_stats_table("stats_squads_standard_for")
pl_stats['squad_goalkeeping'] = get_stats_table("stats_squads_keeper_for")
pl_stats['squad_advanced_goalkeeping'] = get_stats_table("stats_squads_keeper_adv_for")
pl_stats['squad_defensive_actions'] = get_stats_table("stats_squads_defense_for")
pl_stats['squad_possession'] = get_stats_table("stats_squads_possession_for")

In [8]:
pl_stats.keys()

dict_keys(['squad_standard_stats', 'squad_goalkeeping', 'squad_advanced_goalkeeping', 'squad_defensive_actions', 'squad_possession'])

In [9]:
pl_stats['squad_possession']

,# Pl,Poss,90s,Touches,Def Pen,Def 3rd,Mid 3rd,Att 3rd,Att Pen,Live,...,Carries,TotDist,PrgDist,PrgC,1/3,CPA,Mis,Dis,Rec,PrgR
Squad,,,,,,,,,,,,,,,,,,,,,
Arsenal,26,59.3,38.0,25909,1994,6632,11452,8015,1296,25905,...,15924,84012,44202,824,583,281,526,378,18101,2024
Aston Villa,26,49.3,38.0,21501,2783,7912,9077,4706,746,21496,...,12294,65583,33156,637,434,174,565,371,13587,1227
Bournemouth,31,40.4,38.0,19950,2934,8004,7933,4256,699,19950,...,10336,55322,27419,504,388,144,589,367,11617,986
Brentford,25,43.8,38.0,19750,2632,7290,7802,4835,827,19742,...,10408,49009,23987,392,299,102,520,335,11203,1121
Brighton,29,60.2,38.0,26728,2471,7844,12213,6873,1102,26722,...,16331,83718,43965,809,547,250,558,324,18991,1828
Chelsea,32,58.7,38.0,27166,2564,8461,12057,6850,958,27163,...,16538,83509,43596,829,622,216,568,381,19065,1729
Crystal Palace,26,46.3,38.0,21713,2580,7668,9275,4991,766,21710,...,11687,60301,30015,556,393,206,643,457,13304,1238
Everton,28,42.8,38.0,20233,2527,7219,8417,4830,742,20229,...,10479,56737,27858,500,391,137,605,300,11708,1042
Fulham,29,48.8,38.0,22162,2563,7462,9521,5416,758,22153,...,12250,68158,35319,662,472,124,535,379,13847,1316
Leeds United,29,47.0,38.0,21642,2125,6971,9290,5587,796,21639,...,11342,55021,27062,555,379,146,602,421,12329,1418
Leicester City,28,47.7,38.0,23125,2681,8408,10293,4641,688,23119,...,12503,63356,31619,580,363,175,548,313,14797,1294
Liverpool,28,60.8,38.0,28399,2310,8119,13329,7149,1252,28395,...,17146,82458,41527,719,569,234,584,413,19921,1974
Manchester City,24,64.7,38.0,29895,2170,7410,14372,8301,1277,29885,...,19122,104099,56216,988,754,279,406,298,22992,2054
Manchester Utd,26,53.7,38.0,24848,2639,8093,10389,6570,1036,24845,...,14245,70351,37126,711,515,239,497,293,16447,1578
Newcastle Utd,27,52.3,38.0,22106,2088,6757,9053,6516,1161,22100,...,12021,64166,32968,694,493,227,576,363,13803,1599
Nott'ham Forest,33,37.6,38.0,17912,2715,7420,6953,3755,611,17906,...,8674,46411,24008,435,308,111,537,275,9452,847
Southampton,36,44.5,38.0,21095,2639,7452,8998,4880,712,21091,...,11324,61010,29821,588,453,131,567,400,12216,1112
Tottenham,29,50.0,38.0,23836,2734,8571,10329,5135,842,23830,...,13679,71290,36842,692,465,189,521,356,15864,1436
West Ham,25,42.1,38.0,20410,2362,6898,8703,4993,756,20402,...,10540,57451,28247,615,413,166,458,357,12256,1266
Wolves,32,49.9,38.0,22539,2921,8544,9262,4960,686,22536,...,12373,67215,35065,610,421,142,516,327,14452,1331