### Extracting information about player injuries

In [8]:
#import the required libraries
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import chromedriver_autoinstaller

In [37]:
# Teams of interest Manchester City, Arsenal, Manchester United, New castle, liver pool, Brighton, Aston Villa, Nottingham Forest, Everton,
#Leicester City, Leeds, Leeds United, southampton.
Teams = ['Arsenal', 'Manchester City', 'Manchester United', 'Newcastle', 'liverpool', 'Brighton', 'Aston Villa', 'Nottingham Forest', 'Everton',
            'Leicester City', 'Leeds United', 'southampton']

URLS = {'Arsenal': "https://www.transfermarkt.co.uk/arsenal-fc/ausfallzeiten/verein/11?reldata=GB1%262022",
        'Manchester City': "https://www.transfermarkt.co.uk/manchester-city/ausfallzeiten/verein/281?reldata=GB1%262022",
        'Manchester United':"https://www.transfermarkt.co.uk/manchester-united/ausfallzeiten/verein/985?reldata=GB1%262022", 
        'Newcastle': "https://www.transfermarkt.co.uk/newcastle-united/ausfallzeiten/verein/762?reldata=GB1%262022", 
        'liverpool':"https://www.transfermarkt.co.uk/liverpool-fc/ausfallzeiten/verein/31?reldata=GB1%262022", 
        'Brighton': "https://www.transfermarkt.co.uk/brighton-amp-hove-albion/ausfallzeiten/verein/1237?reldata=GB1%262022",
        'Aston Villa': "https://www.transfermarkt.co.uk/aston-villa/ausfallzeiten/verein/405?reldata=GB1%262022",
        'Nottingham Forest': "https://www.transfermarkt.co.uk/nottingham-forest/ausfallzeiten/verein/703?reldata=GB1%262022",
        'Everton': "https://www.transfermarkt.co.uk/everton-fc/ausfallzeiten/verein/29?reldata=GB1%262022",
        'Leicester City':"https://www.transfermarkt.co.uk/leicester-city/ausfallzeiten/verein/1003?reldata=GB1%262022",
        'Leeds United': "https://www.transfermarkt.co.uk/leeds-united/ausfallzeiten/verein/399?reldata=GB1%262022",
        'southampton':"https://www.transfermarkt.co.uk/southampton-fc/ausfallzeiten/verein/180?reldata=GB1%262022"}

In [9]:
#chromedriver_autoinstaller.install()

'c:\\Users\\alexc\\anaconda3\\envs\\Project\\lib\\site-packages\\chromedriver_autoinstaller\\122\\chromedriver.exe'

In [44]:
table_titles= ['Team_Name', 'Player_Name', 'Position', 'Games_injured']
df2=pd.DataFrame(columns = table_titles)
df2
for team in Teams:
    driver = webdriver.Chrome()
    driver.get(URLS[team])
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    player_rows = soup.find_all('tr')
    for player in player_rows[2:]:
        player_name = player.find('td', class_='hauptlink no-border-rechts wsnw').text
        player_postion = player.find('td', class_='ausfallzeiten_pos no-border-links zentriert').text
        player_Injury_1 = player.find_all('td', class_='zentriert ausfallzeiten_r afz')
        player_Injury_2 = player.find_all('td', class_='zentriert ausfallzeiten_v bg_rot_65 afz')
        total_injury= len(player_Injury_1) + len(player_Injury_2)
        individual_row_data =[team, player_name, player_postion, total_injury]
        # print(individual_row_data)
        length = len(df2)
        df2.loc[length] = individual_row_data

    driver.quit()

In [45]:
df2

       Team_Name       Player_Name Position  Games_injured
0        Arsenal    Aaron Ramsdale       GK              0
1        Arsenal       Matt Turner       GK              1
2        Arsenal         Karl Hein       GK             33
3        Arsenal     James Hillson       GK             23
4        Arsenal    William Saliba       CB             11
..           ...               ...      ...            ...
502  southampton      Paul Onuachu       CF              3
503  southampton        Sékou Mara       CF              5
504  southampton      Dan Nlundulu       CF              0
505  southampton       Dom Ballard       CF             12
506  southampton  Jimmy-Jay Morgan       CF              5

[507 rows x 4 columns]

In [47]:
df2.to_csv(r'..\Data\22_23_plteam_injury.csv', index=False)