In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
Injury_info_df = pd.read_csv(r'..\Data\22_23_plteam_injury.csv')
Injury_info_df.head()

  Team_Name     Player_Name Position  Games_injured
0   Arsenal  Aaron Ramsdale       GK              0
1   Arsenal     Matt Turner       GK              1
2   Arsenal       Karl Hein       GK             33
3   Arsenal   James Hillson       GK             23
4   Arsenal  William Saliba       CB             11

### Understanding the data

In [12]:
Injury_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team_Name      507 non-null    object
 1   Player_Name    507 non-null    object
 2   Position       507 non-null    object
 3   Games_injured  507 non-null    int64
dtypes: int64(1), object(3)
memory usage: 16.0+ KB

In [13]:
Injury_info_df.describe()

       Games_injured
count     507.000000
mean        9.224852
std         9.461840
min         0.000000
25%         1.000000
50%         6.000000
75%        14.000000
max        38.000000

In [14]:
#checking if there is any nan values

nan_in_df = Injury_info_df.isnull().sum()

print(nan_in_df)

Team_Name        0
Player_Name      0
Position         0
Games_injured    0
dtype: int64

### Data Cleaning
By diving deeper into the dataset in the previous section gives us insights about the data set, that it is a very clean data. This is mainly due to the nature of website the data was scrapped from. The websites which were scraped are football league statistics sites, which have very reliable data and few missing data.

## Data visualization

four ideas for data visualization.

* top 5 teams with most injured player this season.
* players with most injuries
*
*

In [30]:
team_grouped = Injury_info_df.loc[~(Injury_info_df.Position == "GK"),:]

In [42]:
team=Injury_info_df.loc[Injury_info_df.Position.isin(['CF', 'RM', 'LM', 'ST', 'CAM', 'LM', 'RM']), :].sort_values(by='Games_injured',ascending=False)
team

             Team_Name             Player_Name Position  Games_injured
334  Nottingham Forest             Lyle Taylor       CF             35
40             Arsenal          Khayon Edwards       CF             24
371            Everton   Dominic Calvert-Lewin       CF             21
200          liverpool          Layton Stewart       CF             18
121  Manchester United         Anthony Martial       CF             17
321  Nottingham Forest     Alex Gibson-Hammond       RM             15
199          liverpool         Roberto Firmino       CF             13
460       Leeds United           Sonny Perkins       CF             13
152          Newcastle            Matt Ritchie       RM             13
159          Newcastle          Alexander Isak       CF             13
331  Nottingham Forest              Chris Wood       CF             12
505        southampton             Dom Ballard       CF             12
38             Arsenal           Gabriel Jesus       CF             12
238           Brighton           Evan Ferguson       CF             11
456       Leeds United         Patrick Bamford       CF             10
333  Nottingham Forest             Dale Taylor       CF              9
330  Nottingham Forest           Taiwo Awoniyi       CF              9
501        southampton               Ché Adams       CF              9
375            Everton          Salomón Rondón       CF              8
459       Leeds United            Mateo Joseph       CF              8
455       Leeds United                 Rodrigo       CF              7
198          liverpool            Darwin Núñez       CF              6
241           Brighton           Danny Welbeck       CF              6
488        southampton  Ainsley Maitland-Niles       RM              6
160          Newcastle           Callum Wilson       CF              6
503        southampton              Sékou Mara       CF              5
25             Arsenal  Ainsley Maitland-Niles       RM              5
506        southampton        Jimmy-Jay Morgan       CF              5
39             Arsenal           Eddie Nketiah       CF              5
282        Aston Villa          Cameron Archer       CF              4
41             Arsenal   Nathan Butler-Oyedeji       CF              4
123  Manchester United         Charlie McNeill       CF              4
411     Leicester City       Kelechi Iheanacho       CF              3
502        southampton            Paul Onuachu       CF              3
500        southampton          Adam Armstrong       CF              3
412     Leicester City            George Hirst       CF              3
372            Everton             Neal Maupay       CF              2
239           Brighton             Deniz Undav       CF              2
332  Nottingham Forest            Sam Surridge       CF              2
74     Manchester City          Erling Haaland       CF              2
120  Manchester United       Cristiano Ronaldo       CF              2
122  Manchester United           Wout Weghorst       CF              1
283        Aston Villa              Jhon Durán       CF              1
281        Aston Villa           Ollie Watkins       CF              1
75     Manchester City              Liam Delap       CF              1
457       Leeds United            Joe Gelhardt       CF              1
240           Brighton             Neal Maupay       CF              1
410     Leicester City             Patson Daka       CF              1
402     Leicester City         Marc Albrighton       RM              1
374            Everton           Thomas Cannon       CF              1
285        Aston Villa            Keinan Davis       CF              1
161          Newcastle              Chris Wood       CF              0
335  Nottingham Forest      Detlef Esapa Osong       CF              0
373            Everton             Ellis Simms       CF              0
458       Leeds United           Tyler Roberts       CF              0
454       Leeds United        Georginio Rutter       CF              0
413     Leicester City             Jamie Vardy       CF              0
284        Aston Villa              Danny Ings       CF              0
242           Brighton          Aaron Connolly       CF              0
504        southampton            Dan Nlundulu       CF              0

In [32]:
~(Injury_info_df.Position == "GK")

0      False
1      False
2      False
3      False
4       True
       ...
502     True
503     True
504     True
505     True
506     True
Name: Position, Length: 507, dtype: bool

In [ ]:
['CF', 'RM', 'LM', 'ST', 'CAM', 'LM', 'RM']

In [43]:
Injury_info_df

       Team_Name       Player_Name Position  Games_injured
0        Arsenal    Aaron Ramsdale       GK              0
1        Arsenal       Matt Turner       GK              1
2        Arsenal         Karl Hein       GK             33
3        Arsenal     James Hillson       GK             23
4        Arsenal    William Saliba       CB             11
..           ...               ...      ...            ...
502  southampton      Paul Onuachu       CF              3
503  southampton        Sékou Mara       CF              5
504  southampton      Dan Nlundulu       CF              0
505  southampton       Dom Ballard       CF             12
506  southampton  Jimmy-Jay Morgan       CF              5

[507 rows x 4 columns]

In [49]:
only_injury = Injury_info_df.loc[~(Injury_info_df.Games_injured==0),:]

In [50]:
only_injury

       Team_Name       Player_Name Position  Games_injured
1        Arsenal       Matt Turner       GK              1
2        Arsenal         Karl Hein       GK             33
3        Arsenal     James Hillson       GK             23
4        Arsenal    William Saliba       CB             11
6        Arsenal      Jakub Kiwior       CB              1
..           ...               ...      ...            ...
501  southampton         Ché Adams       CF              9
502  southampton      Paul Onuachu       CF              3
503  southampton        Sékou Mara       CF              5
505  southampton       Dom Ballard       CF             12
506  southampton  Jimmy-Jay Morgan       CF              5

[427 rows x 4 columns]

In [55]:
only_injury.groupby(by='Team_Name').count().sort_values(by='Games_injured')

                   Player_Name  Position  Games_injured
Team_Name
Manchester City             26        26             26
Everton                     31        31             31
Newcastle                   31        31             31
Arsenal                     32        32             32
Leicester City              33        33             33
liverpool                   36        36             36
Aston Villa                 37        37             37
Brighton                    37        37             37
Leeds United                38        38             38
southampton                 38        38             38
Manchester United           43        43             43
Nottingham Forest           45        45             45