In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
Injury_info_df = pd.read_csv(r'..\Data\22_23_plteam_injury.csv')
Injury_info_df.head()

  Team_Name     Player_Name Position  Games_injured
0   Arsenal  Aaron Ramsdale       GK              0
1   Arsenal     Matt Turner       GK              1
2   Arsenal       Karl Hein       GK             33
3   Arsenal   James Hillson       GK             23
4   Arsenal  William Saliba       CB             11

### Understanding the data

In [4]:
Injury_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team_Name      507 non-null    object
 1   Player_Name    507 non-null    object
 2   Position       507 non-null    object
 3   Games_injured  507 non-null    int64
dtypes: int64(1), object(3)
memory usage: 16.0+ KB

In [6]:
Injury_info_df.describe()

       Games_injured
count     507.000000
mean        9.224852
std         9.461840
min         0.000000
25%         1.000000
50%         6.000000
75%        14.000000
max        38.000000

In [8]:
#checking if there is any nan values

nan_in_df = Injury_info_df.isnull().sum()

print(nan_in_df)

Team_Name        0
Player_Name      0
Position         0
Games_injured    0
dtype: int64

### Data Cleaning
By diving deeper into the dataset in the previous section gives us insights about the data set, that it is a very clean data. This is mainly due to the nature of website the data was scrapped from. The websites which were scraped are football league statistics sites, which have very reliable data and few missing data.

## Data visualization

four ideas for data visualization.

* top 5 teams with most injured player this season.
* players with most injuries
*
*